<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}</label><label>
            </label>
            </li>
        </ul>
        <button ng-click="checkAnswer()" ng-show="answerMode">Tryck</button>

        <div ng-show="!answerMode">
            <button ng-click="nextQuestion()" class="next-question">Nästa</button>
            <span ng-show="correctAns">Rätt svar</span>
            <span ng-show="!correctAns">Tyvärr fel svar</span>
        </div>
    </div>

    <div ng-show="quizOver">
        <h2>Det var allt</h2>
        <button ng-click="reset()">Testa igen?</button>
    </div>

    <div id="score">
        Score: {{score}}
    </div>
</div>

<div class="intro" ng-show="!inProgress">
    <p>Vällkomen till Newtons självrättande test</p>
    <button id="startQuiz" ng-click="start()">Starta frågerna</button>
</div>